ul li{
list-style: none;
padding: 0
margin: 0
}
p{
color: dimgray;
}
.bio{
background-color: rgb(139, 160, 23);
color: darkblue
}
h1{font-size: 30px;
color: rgb(12, 92, 145);
text-align: center;
}
p{font-size: 20px;
text-align: justify;
}
body{background-color: rgb(69, 64, 78);
}
